.row{
    color: rgb(53, 53, 53);
    font-family: 'Palanquin', sans-serif;
    
    /* text-align: center; */
    /* making sure all text is same color */
}
#header-img{
    width: 125px;
}

.indexContainer{
    background-color: rgb(248, 248, 248);
    height: 100vh;
}

.homepageRow1{
    padding-top: 150px;
    text-align: center;
}

#homeText{
    font-size: 30px;
}

#generateBudgetButton{
    width: 160px;
    height:40px;
    border-radius: 5px;
    font-size: 19px;
    margin-right: 10px;
    cursor: pointer;
}

#savingTipsButton{
    width: 160px;
    height:40px;
    border-radius: 5px;
    font-size: 19px;
    cursor: pointer;
}

#moneybag{
    width: 20px;
    padding-bottom: 5px;
}
#lamp{
    width: 20px;
    padding-bottom: 5px;
}
.budgetCalculatorContainer{
    text-align: left;
    border-radius: 10px;
    inline-size: 700px; 
    background-color: rgba(168, 0, 0, 0.297);
    display: flex;
    margin-left: 24%;
    margin-top: 3%;
    padding: 7px;
    font-size:x-large;
}

#budgetCalculator{
    margin-top: 25px;
    text-align: left;
    margin-left: 6%;
}
.budgetMainText{
    font-size: 17px;
}

.generateButtonContainer{
    text-align: right;
    margin-top: 5px;
}
#Enter{
    cursor: pointer;
}
.loadingDiv{
    text-align: center;
    font-size: 19px;
    padding-left: 42%;
}

#loadingLogo{
    width: 120px;
}

.resultDiv{
    white-space: pre-line;
}

/* Tips page */

h1{
    padding-top: 10px;
}
.tipsMainRow{
    padding: 10px;
}

#tips-img1{
    width: 80%;
}

#tips-img2{
    width: 5%;
}
#Tipstitle{
    text-align: center;
    /* padding-left: 15%; */
    
}

.savingMoneySection{
   text-align: center;
   font-size: 19px;
   padding-left: 7%;
}

.tipsPageRow{
    justify-content: center;
    background-color: rgb(248, 248, 248);
    padding-top: 30px;
}

h4{
    font-size: 27px;
}
.tipsPageCol1{
    font-size: 19px;
    padding-left: 10%;    
}
.tipsPageCol2{
    margin-left: 8%;
    padding-top: 13%;
}
.finalsection{
    padding-top: 2%;
    background-color: rgb(248, 248, 248);
    padding-bottom: 2%;
    text-align: center;
}

.rowContainer{
    background-color: rgb(248, 248, 248);
    text-align: center;
    justify-content: center;
}

#BudgetTitle{
    text-align: center;
    font-family: 'Palanquin', sans-serif;
}