{% extends "layout.html" %}

{% block content %}

<!-- content goes here -->

<script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>

<div class="indexContainer">
   <div class="row homepageRow1">
        <div class="col-md-5 homepageCol1">
            <img id="homepage-img" src="/static/images/piggy.png" alt="a red pig bank">
        </div>
        <div class="col-md-6 homepageCol2">
            <h1 id="homeText">Budgie works with the <a href="https://drive.google.com/uc?export=download&id=1IpxUaMTjU-f67uHY47NEx7P7L4KEfkkr">Budgie Chrome Extension</a> and Artificial Intelligence to create<br>your <b>personal financial budget.</b></br>
            </h1>
            <br></br>
            <button id="generateBudgetButton" alt="createbudgetbutton">create budget <img id="moneybag" src="/static/images/moneybag.png" ></button>
            <button id="savingTipsButton" alt="viewsavingtipsbutton">learn to save <img id="lamp" src="/static/images/lamp.png" ></button>
        </div>
   </div>
</div>

{% endblock %}