<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="data:," />

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}" />
    <!-- Page Title -->
    <title>Budgie</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png" />
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Palanquin:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- creating the navbar -->
    <nav class="navbar navbar-dark" style="background-color: #a10000">
      <div class="container">
        <a class="navbar-brand" href="/"
          ><img
            id="header-img"
            src="/static/images/logo.png"
            alt="website logo"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <!-- <a class="nav-link" href="/">Home</a> -->
            <!-- <a class="nav-link" href="/add_item_page"> Add Item</a> -->
          </div>
        </div>
      </div>
    </nav>

    {% block content %}
    <!-- <div class="container-fluid"></div> -->
    {% endblock %}
  </body>
</html>
